

<div class="bg-slate-100 w-screen h-screen flex flex-col items-center justify-start">
  <h1 class="text-5xl font-bold text-center mb-4">
    Todo List
  </h1>
  <div class="mb-4">
    <input class="border rounded-none p-1" type="text" placeholder="What to do..." aria-label="Enter To do" [(ngModel)]="newTodo" />
    <button class="w-16 h-8 outline-none rounded-sm bg-blue-500 text-white transition-colors duration-150 hover:bg-white hover:text-blue-500 hover:border-slate-500 hover:border hover:rounded-md" (click)="saveTodo()">Add</button>
  </div>
  <table class="table-auto bg-white w-80 h-fit">
    <tbody>
      <tr class="bg-blue-200 md px-2 h-fit w-fit rounded-md" *ngFor="let todo of todos; let i = index;">
        <th scope="row">{{i + 1}}</th>
        <td class="{{(todo.isCompleted) ? '' : 'line-through' }}">{{todo.name}}</td>
        <td class="text-black hover:text-red-600 transition-colors duration-150"><button (click)="remove(i)">x</button></td>
      </tr>
    </tbody>
  </table>
</div>